<h1>Listing compounds</h1>

<table>
  <thead>
    <tr>
      <th>Compound code</th>
      <th>Issued at</th>
      <th>Location</th>
      <th>Compound type</th>
      <th>Customer</th>
      <th>Amount</th>
      <th>Compound date</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compounds.each do |compound| %>
      <tr>
        <td><%= compound.compound_code %></td>
        <td><%= compound.issued_at %></td>
        <td><%= compound.location %></td>
        <td><%= compound.compound_type %></td>
        <td><%= compound.customer_id %></td>
        <td><%= compound.amount %></td>
        <td><%= compound.compound_date %></td>
        <td><%= compound.description %></td>
        <td><%= compound.status %></td>
        <td><%= link_to 'Show', compound %></td>
        <td><%= link_to 'Edit', edit_compound_path(compound) %></td>
        <td><%= link_to 'Destroy', compound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compound', new_compound_path %>
