<p id="notice"><%= notice %></p>

<p>
  <strong>Customer no:</strong>
  <%= @customer.customer_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Other customer no:</strong>
  <%= @customer.other_customer_no %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
