= form_for(@payment, :html => { :class => 'form-horizontal' }) do |f|
  = f.hidden_field :compound_id
  - if @payment.errors.any?
    #error_explanation
      %h2
        = pluralize(@payment.errors.count, "error")
        prohibited this compound from being saved:
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message
          
  .row
    .col-md-8.col-md-offset-1
      .panel.panel-info
        .panel-heading
          %h3.panel-title Compound
        .panel-body
          %dl.dl-horizontal
            %dt <strong>Compound code:</strong>
            %dd= @payment.compound.compound_code
            %dt <strong>Amount:</strong>
            %dd= @payment.compound.amount
      .form-group
        %label.col-sm-2.control-label= f.label :amount
        .col-md-3
          .input-group
            .input-group-addon $
            = f.text_field :amount, class: 'form-control mandatory'
      .form-group
        .col-sm-offset-2.col-sm-1
          = f.submit "Submit", class: "btn btn-primary"

