.mp-level
  %h2.icon.icon-world Menu
  %ul
    %li.icon.icon-left
      = link_to "Compounds", '#'
      .mp-level
        %h2.icon Compounds
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "New", new_compound_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "List", compounds_path
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Customers", '#'
      .mp-level
        %h2.icon Customers
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "List", customers_path

          
        